  <div class="row">
  <li>
    <div class="col-sm-4">

  {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}}
</div>
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'toggleImage'}} ></p>
  {{else}}
<div class="col-sm-1">

    <button {{action 'toggleImage'}} class="btn btn-xs btn-info">Show image</button>
</div>
  {{/if}}
</li>
</div>
